
    <div class="card h-100 ">
        <div class="card-header">
            <h5 class="mb-0 text-capitalize">Progress track</h5>
        </div>
        <div class="card-body pt-0">
            <ul class="list-group list-group-flush list">
                <li class="list-group-item px-0">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <a href="javascript:;" class="avatar rounded-circle">
                                <img alt="Image placeholder" src="../../assets/img/small-logos/logo-jira.svg">
                            </a>
                        </div>
                        <div class="col">
                            <h6>React Material Dashboard</h6>
                            <div class="progress progress-xs mb-0">
                                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item px-0">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <a href="javascript:;" class="avatar rounded-circle">
                                <img alt="Image placeholder" src="../../assets/img/small-logos/logo-asana.svg">
                            </a>
                        </div>
                        <div class="col">
                            <h6>Argon Design System</h6>
                            <div class="progress progress-xs mb-0">
                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item px-0">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <a href="javascript:;" class="avatar rounded-circle">
                                <img alt="Image placeholder" src="../../assets/img/small-logos/logo-spotify.svg">
                            </a>
                        </div>
                        <div class="col">
                            <h6>VueJs Now UI Kit PRO</h6>
                            <div class="progress progress-xs mb-0">
                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item px-0">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <a href="javascript:;" class="avatar rounded-circle">
                                <img alt="Image placeholder" src="../../assets/img/small-logos/bootstrap.svg">
                            </a>
                        </div>
                        <div class="col">
                            <h6>Soft UI Dashboard</h6>
                            <div class="progress progress-xs mb-0">
                                <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%;"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


@code {

}
