@page "/"
@page "/default"
@*@attribute [Authorize]*@

@using Dashboard.Pages.Dashboards.Default.Components
@using Microsoft.AspNetCore.Authorization;
@inject IJSRuntime JS

<div class="container-fluid py-4">
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<StatusCard />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-7 mb-4 mb-lg-0 h-96">
			<SalesOverviewChart />
		</div>
		<div class="col-lg-5">
			<Carousel />
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
			<TeamMembers />
		</div>
		<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
			<ToDoList />
		</div>
		<div class="col-lg-4">
			<ProgressTrack />
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-12 col-lg-5">
			<SocialMedia />
		</div>
		<div class="col-12 col-lg-7">
			<ProjectTable />
			<div class="row mt-4">
				<div class="col-12 col-md-6 mb-4 mb-md-0">
					<BalanceCard />
				</div>
				<div class="col-12 col-md-6">
					<BitcoinCard />
				</div>
			</div>
			<div class="mt-4">
				<SalesByCountry />
			</div>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-12 col-md-8 mb-4 mb-md-0">
			<EmployeeTable />
		</div>
		<div class="col-md-4">
			<Categories />
		</div>
	</div>
</div>

@code {

}
