
	<div class="card h-100">
		<div class="card-body p-3">
			<h6>Consumption per day</h6>
			<div class="chart pt-3">
				<canvas id="chart-cons-week" class="chart-canvas" height="170"></canvas>
			</div>
		</div>
	</div>


@code {

}
