<div class="card">
	<div class="card-body text-center">
		<h1 class="text-gradient text-primary"><span id="status4" countto="417">417</span> <span class="text-lg ms-n2">GB</span></h1>
		<h6 class="mb-0 font-weight-bolder">Internet</h6>
		<p class="opacity-8 mb-0 text-sm">All devices</p>
	</div>
</div>

@code {

}
