<div class="card h-100">
	<div class="card-body text-center p-3">
		<h6 class="text-start">Device limit</h6>
		<round-slider value="21" valueLabel="Temperature"></round-slider>
		<h4 class="font-weight-bold mt-n7"><span class="text-dark" id="value">21</span><span class="text-body">°C</span></h4>
		<p class="ps-1 mt-5 mb-0"><span class="text-xs">16°C</span><span class="px-3">Temperature</span><span class="text-xs">38°C</span></p>
	</div>
</div>

@code {

}
