@page "/automotive"
@layout MainLayout
@using Dashboard.Pages.Dashboards.Automotive.Components

<div class="container-fluid py-4">
	<div class="row mt-4">
		<div class="col-12">
			<LastCharge />
		</div>
	</div>
	<div class="row mt-4">
		<CardsAutomotive />
	</div>
	<div class="row mt-4">
		<div class="col-12">
			<MapsAutomotive />
		</div>
	</div>
</div>

@code {

}
