@page "/smarthome";
@using Dashboard.Components
@using Dashboard.Pages.Dashboards.SmartHome.Components

<div class="container-fluid py-4">
	<div class="row">
		<div class="col-xl-7">
			<Cameras />
		</div>
		<div class="col-xl-5 ms-auto mt-xl-0 mt-4">
			<div class="row">
				<div class="col-12">
					<WeatherTodayCard />
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-md-6">
					<CardWithDynamicStartValues Id="status1" MainText="Living Room" Text="Temperature" Unit="°C" Value="21" />
				</div>
				<div class="col-md-6 mt-md-0 mt-4">
					<CardWithDynamicStartValues Id="status2" MainText="Outside" Text="Humidity" Unit="%" Value="44" />					
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-md-6">
					<CardWithDynamicStartValues Id="status3" MainText="Water" Text="Consumption" Unit="m³" Value="87" />			
				</div>
				<div class="col-md-6 mt-md-0 mt-4">
					<CardWithDynamicStartValues Id="status4" MainText="Internet" Text="All devices" Unit="GB" Value="417" />					
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-lg-6 ms-auto">
			<ConsuptionByRoom />
		</div>
		<div class="col-lg-6 mt-lg-0 mt-4">
			<div class="row">
				<div class="col-sm-6">
					<ConsumptionPerDay />
				</div>
				<div class="col-sm-6 mt-sm-0 mt-4">
					<DeviceLimit />
				</div>
			</div>
		</div>
	</div>
	<hr class="horizontal dark my-5">
	<div class="row">
		<DeviceCards />
	</div>
</div>

@code {

}
